body{
    background-color: #4e0739;
}
h1{
    color:#6f66bf;
}
h3{
    color: #66bf84;
}

hr{

    border-style: none;
    border-top: 1px dotted black;
    border-color:white;
    border-width:5px;
    width:10% ;
}
